/* About.css */

.about {
    display: flex;
    padding: 20px;
  }
  
  .left-content {
    flex: 1;
    max-width: 40%;
    padding: 20px;
    text-align: left;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-right: 20px; /* Add margin to separate from right content */
  }
  
  .right-content {
    flex: 1;
    max-width: 60%;
    padding: 20px;
    text-align: left;
    background-color: #fff;
    border-radius: 5px;
  }

  /* Add this to your CSS file, e.g., About.css */
.small-profile-image {
    width: 500px; /* Adjust the width as needed */
    height: auto; /* This ensures the aspect ratio is maintained */
    display: block; /* Center the image horizontally */
    margin: 0 auto; /* Center the image vertically */
    border: 1px solid #333; /* Add a border around the image */
    border-radius: 1%; /* Make it a circular image */
   
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  }
  
  
  /* Add these styles to your About.css or the appropriate CSS file */
.tab-buttons {
    display: flex;
    margin-bottom: 20px;
  }
  
  .tab-buttons button {
    background-color: rgb(214, 211, 211); /* Set the background color to transparent */
    color: #000; /* Set the text color to black */
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add a transition effect for the background color */
    position: relative;
  }
  
  .tab-buttons button.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black; 
    transform-origin: 0% 100%; 
  }
  
 
  .tab-buttons button:hover {
    background-color: transparent; 
  }
  
  
  .tab-content h3 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .tab-content p {
    font-size: 16px;
    line-height: 1.4;
  }
  
 